# Dependencies
node_modules
npm-debug.log

# Source control
.git
.gitignore

# Environment and config
.env
.env.local
.env.*

# Testing and documentation
tests/
coverage/
docs/

# OS files
.DS_Store
Thumbs.db

# Build outputs
dist/
build/

venv
__pycache__
.git
node_modules

documents
chat_history
faiss_store

all-MiniLM-L6-v2
